#kaocha/v1
{:tests [{:id          :core
          :test-paths  ["test"]
          :ns-patterns ["cart\\.core-test" "cart\\.serialisation-test"]}

         {:id          :app
          :test-paths  ["test"]
          :ns-patterns ["cart\\.app\\..*"]}

         {:id          :adapter-memory
          :test-paths  ["test"]
          :ns-patterns ["cart\\.adapter\\.driven\\.event-store-memory-test"]}

         {:id          :http
          :test-paths  ["test"]
          :ns-patterns ["cart\\.adapter\\.driving\\..*"]}

         {:id          :perf
          :test-paths  ["test"]
          :ns-patterns ["cart\\.perf\\..*"]}

         {:id          :postgres
          :test-paths  ["test"]
          :ns-patterns ["cart\\.adapter\\.driven\\.(append-fn-test|event-store-postgres-test)"]}]}
