{:spec/id :secret-santa/assign-recipient
 :spec/version 1

 :rule-evaluation
 {:strategy :first-failure}

 :state/schema
 [:map
  [:exchange-id :string]
  [:status [:enum :assigning :complete :cancelled]]
  [:participant-ids [:set :string]]
  [:giver-id->recipient-id [:map-of :string :string]]
  [:giver-id->excluded-recipient-ids
   [:map-of :string [:set :string]]]]

 :command/schema
 [:map
  [:command/type [:enum :assign-recipient]]
  [:data
   [:map
    [:giver-id :string]
    [:recipient-id :string]]]]

 :derive
 [[:assigned-recipient-ids
   [:expr/values [:expr/get :state [:giver-id->recipient-id]]]]

  [:excluded-recipient-ids
   [:expr/get-or
    :state
    [:giver-id->excluded-recipient-ids
     [:expr/get :command [:data :giver-id]]]
    #{}]]]

 :rules
 [{:rule/id :BR-1
   :rule/text "The exchange must be open for assignments."
   :require
   [:expr/= [:expr/get :state [:status]] :assigning]
   :otherwise :assignments-not-open}

  {:rule/id :BR-2
   :rule/text "The giver must be a participant."
   :require
   [:expr/contains?
    [:expr/get :state [:participant-ids]]
    [:expr/get :command [:data :giver-id]]]
   :otherwise :giver-not-participant}

  {:rule/id :BR-3
   :rule/text "The recipient must be a participant."
   :require
   [:expr/contains?
    [:expr/get :state [:participant-ids]]
    [:expr/get :command [:data :recipient-id]]]
   :otherwise :recipient-not-participant}

  {:rule/id :BR-4
   :rule/text "A participant cannot be assigned to themselves."
   :require
   [:expr/not=
    [:expr/get :command [:data :giver-id]]
    [:expr/get :command [:data :recipient-id]]]
   :otherwise :cannot-assign-self}

  {:rule/id :BR-5
   :rule/text "The giver must not already have a recipient."
   :require
   [:expr/not
    [:expr/contains?
     [:expr/get :state [:giver-id->recipient-id]]
     [:expr/get :command [:data :giver-id]]]]
   :otherwise :giver-already-assigned}

  {:rule/id :BR-6
   :rule/text "The recipient must not already be assigned to another giver."
   :require
   [:expr/not
    [:expr/member?
     [:expr/get :derived [:assigned-recipient-ids]]
     [:expr/get :command [:data :recipient-id]]]]
   :otherwise :recipient-already-assigned}

  {:rule/id :BR-7
   :rule/text "The recipient must not be excluded for that giver."
   :require
   [:expr/not
    [:expr/contains?
     [:expr/get :derived [:excluded-recipient-ids]]
     [:expr/get :command [:data :recipient-id]]]]
   :otherwise :recipient-excluded}]

 :events
 [{:event/type :recipient-assigned
   :data
   {:exchange-id [:expr/get :state [:exchange-id]]
    :giver-id     [:expr/get :command [:data :giver-id]]
    :recipient-id [:expr/get :command [:data :recipient-id]]}}]}
